<% @projects.each do |project| %>
  <div class="projects-container">
    <div class="project-image">
      <%= link_to project do %>
        <%= image_tag project.cover_image_url %>
      <% end %>
    </div>
    <div class="project-info">
      <h2><%= project.title %></h2>
      <small><%= project.category %></small>
      <h3><%= project.subtitle %></h3>
      <div class="links">
        <%= link_to project_path(project), class: "show" do %>
          <i class="fa fa-chevron-right" aria-hidden="true"></i>Learn More
        <% end %>
        <div class="small-links">
          <% project.links.each do |link| %>
            <%= link_to link.url, target: "_blank" do %>
              <%= link.call_to_action %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
